---
layout: page
title: Questions
permalink: /questions/
---

<table>
<!--	<colgroup>
	<col width="20%" />
	<col width="80%" />
	</colgroup>-->
<thead>
	<tr class="header">
		<th>Code</th>
		<th>Question</th>
	</tr>
</thead>
<tbody>

{% assign sorted_qs = site.questions | sort: "question_num" %}
{% for question in sorted_qs %}
<tr>
	<td><a href="{{ question.url | relative_url }}">{{ question.question_code }}</a></td>
	<td>{{ question.question_text }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<!--
<ul>
  {% for question in site.questions %}
    <li>
      <h4><a href="{{ question.url }}">{{ question.question_text }}</a></h4>
      {{ question.excerpt }}
    </li>
  {% endfor %}
</ul>
-->