---
layout: splash
title: Themes
permalink: /themes/
---

{% assign themes = site.data.themes | sort: "question_num" | map: "theme" | uniq %}

<h1>Themes</h1>

<p>The questions are grouped into 5 broad themes, which are further broken down into smaller groups of related questions:</p>

<div class="feature__wrapper">

{% for theme in themes %}

{% assign theme_slug = site.data.themes | where: "theme", theme | first | map: "theme_url" | join: "" %}
{% assign theme_link = "/e-assessment-research-agenda/themes/" | append: theme_slug %}

    <div class="feature__item">
      <div class="archive__item">
        
          <div class="archive__item-teaser">
            <a href="{{theme_link}}"><img src="/e-assessment-research-agenda/assets/images/bg-{{theme_slug}}.svg" alt="{{theme}}"><a>
          </div>
        
        <div class="archive__item-body">
            <a href="{{theme_link}}"><h2 class="archive__item-title">{{theme}}</h2></a>
          
            <div class="archive__item-excerpt">
              <ul>
	{% assign subthemes = site.data.themes | where: "theme", theme | sort: "question_num" | map: "subtheme" | uniq %}
		{% for subtheme_name in subthemes %}
				<li>{{subtheme_name}}</li>
		{% endfor %}
			  </ul>

            </div>
          
        </div>
      </div>
    </div>


{% endfor %}

</div>