---
layout: single-notitle
toc: true
---
{% assign qn = site.data.themes | where: "question_num", page.question_num | first %}
<p><a href="../themes/{{ qn.theme_url }}" class="btn btn--inverse">{{ qn.theme }}</a> &gt;  <a href="../themes/{{ qn.subtheme_url }}" class="btn btn--inverse">{{ qn.subtheme }}</a></p>

<!-- <h1>{{ page.question_code }}: {{ page.question_text }}</h1> -->
<p></p>
<h1><span class="question_num" style="font-weight:normal; font-size: 70%">Question {{ page.question_num }}</span><br>{{ page.question_text }}</h1>

<ul>
{% assign contributorCount = page.contributors | size %}
{% if contributorCount == 0 %}
    Unassigned
{% else %}
    {% for contributor in page.contributors %}
	  {% assign contrib_info = site.contributors | where: 'username', contributor | first %}
	  {% if contrib_info %}
		<li><a href="{{ contrib_info.url | relative_url }}"><img src="https://github.com/{{ contrib_info.username }}.png?size=100" style="border-radius: 50%;width: 1.5em;height: 1.5em;margin: auto 0.5em auto -2em;" />{{ contrib_info.firstname }} {{ contrib_info.surname }}</a></li>
	  {% endif %}
    {% endfor %}
{% endif %}
</ul>

{{ content }}