---
layout: default
---
<h1>{{ page.question_code }}: {{ page.question_text }}</h1>

<ul>
{% assign contributorCount = page.contributors | size %}
{% if contributorCount == 0 %}
    Unassigned
{% else %}
    {% for contributor in page.contributors %}
	  {% assign contrib_info = site.contributors | where: 'username', contributor | first %}
	  {% if contrib_info %}
		<li> <a href="{{ contrib_info.url | relative_url }}">{{ contrib_info.firstname }} {{ contrib_info.surname }}</a></li>
	  {% endif %}
    {% endfor %}
{% endif %}
</ul>

{{ content }}