---
layout: splash
---
{% assign qn = site.data.themes | where: "subtheme", page.subtheme | first %}
<p style="margin-top: 1em"><a href="../" class="btn btn--inverse">Themes</a> &gt; <a href="../{{ qn.theme_url }}" class="btn btn--inverse">{{ qn.theme }}</a> &gt;</p>
<h1>{{ page.subtheme }}</h1>

<table style="width: 100%">
<!--	<colgroup>
	<col width="20%" />
	<col width="80%" />
	</colgroup>-->
<thead>
	<tr class="header">
		<th>Code</th>
		<th>Question</th>
		<th>Contributors</th>
	</tr>
</thead>
<tbody>
	{% assign theme_qs = site.data.themes | where: "subtheme", page.subtheme | sort: "question_num" %}
	{% for qn in theme_qs %}
		{% assign question = site.questions | where: "question_num", qn.question_num | first %}
		<tr>
			<!-- <td><a href="{{ question.url | relative_url }}">{{ question.question_code }}</a></td> -->
			<td><a href="../../questions/{{ question.question_code }}">{{ question.question_code }}</a></td>
			<td>{{ question.question_text }}</td>
			<td>    {% for contributor in question.contributors %}
			  {% assign contrib_info = site.contributors | where: 'username', contributor | first %}
			  {% if contrib_info %}
				<!-- <li><a href="{{ contrib_info.url | relative_url }}"><img src="https://github.com/{{ contrib_info.username }}.png?size=100" style="border-radius: 50%;width: 1.5em;height: 1.5em;margin: auto 0.5em auto -2em;" />{{ contrib_info.firstname }} {{ contrib_info.surname }}</a></li> -->
				<a href="{{ contrib_info.url | relative_url }}"><img src="https://github.com/{{ contrib_info.username }}.png?size=100" style="border-radius: 50%;width: 2em;height: 2em;margin: auto -0.5em auto 0em;" /></a> 
			  {% endif %}
			{% endfor %}</td>
		</tr>
	{% endfor %}
</tbody>
</table>